<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="common_head(title)">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title th:replace="${title}">Will Of Coding</title>
        <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet prefetch"
              href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css">
    </th:block>
</head>
<body>
<nav th:fragment="common_nav(n)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu" id="nav-menu">
            <h2 class="ui item teal header">Will Admin</h2>
            <a href="#" class="item m-mobile-hide" th:classappend="${n==1}?'active'"><i class="mini icon home"></i>Blog</a>
            <a href="#" class="item m-mobile-hide" th:classappend="${n==2}?'active'"><i class="mini icon book"></i>Sorts</a>
            <a href="#" class="item m-mobile-hide" th:classappend="${n==3}?'active'"><i class="mini icon tags"></i>Tags</a>
            <div class="right item ui dropdown m-mobile-hide">
                <div class="ui icon transparent input inverted">
                    <div class="text">
                        <img th:src="@{/img/avatar.jpg}" alt="" class="ui avatar image">
                        liouoth
                    </div>
                </div>
                <i class="icon dropdown"></i>
                <div class="menu">
                    <a href="" class="item">注销</a>
                </div>
            </div>
            <a class="ui icon button m-mobile-show middle aligned black" id="nav-btn">
                <i class="icon sidebar inverted"></i>
            </a>
        </div>
    </div>
</nav>
</body>
</html>