<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="_fragments :: common_head(~{::title})">
        <title>Manager | Will Of Coding</title>
    </th:block >
</head>
<body class="m-bg">
<nav th:replace="admin/_fragments :: common_nav(2)"></nav>
<div class="ui attached pointing menu">
    <div class="container ui">
        <div class="right menu">
            <a th:href="@{/admin/blogs}" class="item">发布</a>
            <a th:href="@{/admin/blogs_m}" class="active teal item">列表</a>
        </div>
    </div>
</div>
<!-- main -->
<main class="m-padded-tb-big m-container-small">
    <div class="ui container">
        <form action="" class="ui segment secondary form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="text" name="icon">
                        <i class="icon dropdown"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1">java</div>
                            <div class="item" data-value="2">python</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui button">
                        <i class="icon search"></i>搜索
                    </div>
                </div>
            </div>
        </form>
        <table class="ui compact teal celled striped table">
            <thead>
            <tr>
                <th></th>
                <th>标题</th>
                <th>类型</th>
                <th>推荐</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog,iterStat : ${page.content}">
                <td th:text="iterStat.count"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.type.name}"></td>
                <td th:text="${blog.recommend} ? '是':'否'"></td>
                <td th:text="${blog.updateTime}"></td>
                <td>
                    <a th:href="@{/admin/blog/{id}/input(id=${blog.id})}" class="ui mini teal button">编辑</a>
                    <a th:href="@{/admin/blog/{id}/delete(id=${blog.id})}" class="ui mini orange button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu">
                            <a th:href="" class="item" th:unless="">上一页</a>
                            <a href="" class="item">下一页</a>
                        </div>
                        <a href="" class="ui mini right floated basic teal button">新增</a>
                    </th>
                </tr>

            </tfoot>
        </table>
    </div>
</main>
<!--footer-->
<footer th:replace="_fragments :: common_footer"></footer>
</body>
<!--/*/<th:block th:replace="admin/_fragments  :: common_script">/*/-->
<!--/*/</th:block >/*/-->
</html>