<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>will of coding</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="flex-dir-row fill-full flex-nowrap">
    <nav class="navigator flex-dir-column height-full flex-all-dir-center">
        <ul class="nav-wrapper flex-dir-column height-full flex-main-dir-center">
            <li><a>home</a></li>
            <li><a>category</a></li>
            <li><a>about me</a></li>
            <li><a>links</a></li>
        </ul>
        <section class="nav-tools flex-dir-row width-full flex-main-dir-start">
        </section>
    </nav>
    <main class="main flex-dir-column height-full">

    </main>
</div>
</body>
</html>