<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 15px;">
<head>
    <meta charset="UTF-8">
    <title>Will Of Coding</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/font/iconfont.js}"></script>
</head>
<body style="background-color: rgb(255, 255, 255);">
<div class="flex row f-nowrap" style="height: 100%">
    <header class="header flex row me fill-height">
        <div class="banner flex col msp fill-height">
            <div class="nav-wrapper flex col f-nowrap">
                <div class="logo flex col mc">
                    <a th:href="@{/}">
                        <svg class="logo-icon" aria-hidden="true">
                            <use xlink:href="#icon-bookmarking"></use>
                        </svg>
                    </a>
                </div>
                <nav class="nav flex col ms crc">
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc nav-active">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                            <span>Home</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-book"></use>
                            </svg>
                            <span>Articles</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-friend"></use>
                            </svg>
                            <span>Friends</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-Plugin"></use>
                            </svg>
                            <span>Plugins</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-friend"></use>
                            </svg>
                            <span>About me</span>
                        </div>
                    </a>
                </nav>
            </div>
            <div class="flex row ms crc" style="height: 60px;">
                <div style="height: 30px;width: 30px">
                    <img src="">
                </div>
            </div>
        </div>
    </header>
    <main class="main-wrapper flex row f-nowrap">
        <div class="main-container flex col ms crc">
            <div class="main-header flex col mc">
                <span style="height: 30px;">Home</span>
            </div>
            <div>
                <div style="height: 100px;border: 0 solid black;">

                </div>
            </div>
        </div>
        <div class="main-sidebar fill-full"></div>
    </main>
</div>
</body>
</html>