<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Will Of Coding | Home</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css">
</head>
<body class="m-bg">
<!-- nav -->
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu" id="nav-menu">
            <h2 class="ui item teal header">Will Of Coding</h2>
            <a href="#" class="item m-mobile-hide"><i class="mini icon home"></i>Home</a>
            <a href="#" class="item m-mobile-hide"><i class="mini icon book"></i>Sorts</a>
            <a href="#" class="item m-mobile-hide"><i class="mini icon tags"></i>Tags</a>
            <a href="#" class="item m-mobile-hide"><i class="mini icon calendar"></i>Achieves</a>
            <a href="#" class="item m-mobile-hide"><i class="mini icon user"></i>About Me</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon transparent input inverted">
                    <input type="text" placeholder="Search...">
                    <i class="icon link search"></i>
                </div>
            </div>
            <a class="ui icon button m-mobile-show middle aligned black" id="nav-btn">
                <i class="icon sidebar inverted"></i>
            </a>
        </div>
    </div>
</nav>

<!--footer-->
<!--what is vertical-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui divided inverted grid m-text-lined m-text-spaced stackable mobile reversed">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img class="ui rounded image" src="../static/img/QRcode.png"/>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui link inverted list">
                    <h2 class="ui inverted header">最新博客</h2>
                    <a class="item">什么是数据结构？</a>
                    <a class="item">算机网络知多少？</a>
                    <a class="item">http vs https？</a>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui link inverted list">
                    <h2 class="ui inverted header">联系我</h2>
                    <a class="item">email:mwqyykl@gmail.com</a>
                    <a class="item">github:liouoth</a>
                    <a class="item">weibo:liouoth</a>
                </div>
            </div>
            <div class="five wide column">
                <h2 class="ui inverted header">关于我</h2>
                <p class="m-opacity-tiny">乐观向上、不偏不倚</p>
                <p class="m-opacity-tiny">Stay Hungry , Stay Foolish</p>
            </div>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui container attached center aligned m-text-spaced m-text-lined m-text-thin m-opacity-mini">
        <p>Powered by Springboot & Thymeleaf</p>
        <p>Copyright@2019-2020 Designed By liouoth</p>
    </div>
</footer>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script>
    $("#nav-btn").click(function () {
        $("#nav-menu").children("a,div").toggleClass("m-mobile-hide");
    });
</script>
</html>