<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="_fragments :: common_head(~{::title})">
        <title>Will Of Coding | Achieves</title>
    </th:block>
</head>
<body class="m-bg">
<!-- nav -->
<nav th:insert="_fragments :: common_nav(4)"></nav>
<!-- main -->
<main class="m-padded-tb-huge m-container-small">
    <div class="ui container">
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui header teal">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui header orange m-inline-block m-text-thin" th:text="${count}">  </h2> 篇博客
                </div>
            </div>
        </div>

        <th:block th:each="item : ${map}">
            <h2 class="ui header center aligned" th:text="${item.key}"></h2>
            <div class="ui fluid vertical menu">
                <a class="item" th:each="blog : ${item.value}" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                    <div class="m-inline-block">
                        <span class="ui label m-margin-r basic orange m-padded-tb-tiny" th:text="${blog.flag}"></span>
                        <span th:text="${blog.title}"></span>
                    </div>
                    <span class="ui label" th:text="${blog.updateTime}"></span>
                </a>
            </div>
        </th:block>

    </div>
</main>
<!--footer-->
<footer th:insert="_fragments :: common_footer"></footer>
</body>
<!--/*/<th:block th:insert="_fragments :: common_script">/*/-->
<!--/*/</th:block >/*/-->
</html>