<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 15px;">
<head>
    <meta charset="UTF-8">
    <title>Will Of Coding</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/font/iconfont.js}"></script>
</head>
<body style="background-color: rgb(255, 255, 255);">
<div class="flex row fill-full">
    <header class="header flex row me fill-height">
        <div class="banner flex col msp fill-height">
            <div class="nav-wrapper flex col">
                <div class="logo flex row ms crc">
                    <a th:href="@{/}" style="display: block">
                        <svg class="logo-icon" aria-hidden="true">
                            <use xlink:href="#icon-bookmarking"></use>
                        </svg>
                    </a>
                    <span style="height:26px;">WILL OF CODING</span>
                </div>
                <nav class="nav flex col ms crc">
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc nav-active">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                            <span>Home</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-book"></use>
                            </svg>
                            <span>Articles</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-friend"></use>
                            </svg>
                            <span>Friends</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-Plugin"></use>
                            </svg>
                            <span>Plugins</span>
                        </div>
                    </a>
                    <a th:href="@{/}" class="nav-a flex row ms fill-width">
                        <div class="flex row ms crc">
                            <svg class="logo-icon" aria-hidden="true">
                                <use xlink:href="#icon-me"></use>
                            </svg>
                            <span>About me</span>
                        </div>
                    </a>
                </nav>
            </div>
            <div class="info-wrapper flex row ms crc">
                <div class="flex col mc fill-height">
                    <img th:src="@{/img/avatar.png}" class="info-img">
                </div>
                <div class="flex col mc crs fill-full">
                    <span class="info-name">Will Mao</span>
                    <div class="flex row ms crc">
                        <svg class="info-icon" aria-hidden="true">
                            <use xlink:href="#icon-github"></use>
                        </svg>
                        <svg class="info-icon" aria-hidden="true">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                        <svg class="info-icon" aria-hidden="true">
                            <use xlink:href="#icon-weibo"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main-wrapper flex row f-nowrap">
        <div class="main-container flex col ms crc">
            <div class="main-header flex col mc fill-width">
                <span style="height: 30px;">Home</span>
            </div>
            <div class="main-talks flex col ms">
                <section class="talk-wrapper flex row">
                    <div class="icon-wrapper post flex col mc crc">
                        <div class="flex row mc">
                            <svg class="talk-icon" aria-hidden="true">
                                <use xlink:href="#icon-Send"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flex col ms">
                        <div class="talk-header flex row ms">
                            <span><b>article name</b></span>
                            <span>@post</span>
                            <span>2019/1/1</span>
                        </div>
                        <div class="talk-content">
                            <p>
                                在youtube看了几个kcar的介绍，虽然车子小，但是很高，有的车内有1米4那么高，小朋友都可以直立。虽然车子小，但是轮子小，又布置在前后最顶端，所以轴距并不短。后排空间宽阔，后排放倒又可以放很多东西。真是极好的城市用车，真是应该引进到中国</p>
                        </div>
                        <div class="talk-tool fill-width flex row ms">
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-Like"></use>
                                </svg>
                                <span>6</span>
                            </div>
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-dislike"></use>
                                </svg>
                                <span>10</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="talk-wrapper flex row">
                    <div class="icon-wrapper repost flex col mc crc">
                        <div class="flex row mc">
                            <svg class="talk-icon" aria-hidden="true">
                                <use xlink:href="#icon-repost"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flex col ms">
                        <div class="talk-header flex row ms">
                            <span><b>article name</b></span>
                            <span>@post</span>
                            <span>2019/1/1</span>
                        </div>
                        <div class="talk-content">
                            <p>
                                在youtube看了几个kcar的介绍，虽然车子小，但是很高，有的车内有1米4那么高，小朋友都可以直立。虽然车子小，但是轮子小，又布置在前后最顶端，所以轴距并不短。后排空间宽阔，后排放倒又可以放很多东西。真是极好的城市用车，真是应该引进到中国</p>
                        </div>
                        <div class="talk-tool fill-width flex row ms">
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-Like"></use>
                                </svg>
                                <span>6</span>
                            </div>
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-dislike"></use>
                                </svg>
                                <span>10</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="talk-wrapper flex row">
                    <div class="icon-wrapper say flex col mc crc">
                        <div class="flex row mc">
                            <svg class="talk-icon" aria-hidden="true">
                                <use xlink:href="#icon-sey-talk-a"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flex col ms">
                        <div class="talk-header flex row ms">
                            <span><b>article name</b></span>
                            <span>@post</span>
                            <span>2019/1/1</span>
                        </div>
                        <div class="talk-content">
                            <p>
                                在youtube看了几个kcar的介绍，虽然车子小，但是很高，有的车内有1米4那么高，小朋友都可以直立。虽然车子小，但是轮子小，又布置在前后最顶端，所以轴距并不短。后排空间宽阔，后排放倒又可以放很多东西。真是极好的城市用车，真是应该引进到中国</p>
                        </div>
                        <div class="talk-tool fill-width flex row ms">
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-Like"></use>
                                </svg>
                                <span>6</span>
                            </div>
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-dislike"></use>
                                </svg>
                                <span>10</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="talk-wrapper flex row">
                    <div class="icon-wrapper post flex col mc crc">
                        <div class="flex row mc">
                            <svg class="talk-icon" aria-hidden="true">
                                <use xlink:href="#icon-Send"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flex col ms">
                        <div class="talk-header flex row ms">
                            <span><b>article name</b></span>
                            <span>@post</span>
                            <span>2019/1/1</span>
                        </div>
                        <div class="talk-content">
                            <p>
                                在youtube看了几个kcar的介绍，虽然车子小，但是很高，有的车内有1米4那么高，小朋友都可以直立。虽然车子小，但是轮子小，又布置在前后最顶端，所以轴距并不短。后排空间宽阔，后排放倒又可以放很多东西。真是极好的城市用车，真是应该引进到中国</p>
                        </div>
                        <div class="talk-tool fill-width flex row ms">
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-Like"></use>
                                </svg>
                                <span>6</span>
                            </div>
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-dislike"></use>
                                </svg>
                                <span>10</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="talk-wrapper flex row">
                    <div class="icon-wrapper repost flex col mc crc">
                        <div class="flex row mc">
                            <svg class="talk-icon" aria-hidden="true">
                                <use xlink:href="#icon-repost"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="flex col ms">
                        <div class="talk-header flex row ms">
                            <span><b>article name</b></span>
                            <span>@post</span>
                            <span>2019/1/1</span>
                        </div>
                        <div class="talk-content">
                            <p>
                                在youtube看了几个kcar的介绍，虽然车子小，但是很高，有的车内有1米4那么高，小朋友都可以直立。虽然车子小，但是轮子小，又布置在前后最顶端，所以轴距并不短。后排空间宽阔，后排放倒又可以放很多东西。真是极好的城市用车，真是应该引进到中国</p>
                        </div>
                        <div class="talk-tool fill-width flex row ms">
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-Like"></use>
                                </svg>
                                <span>6</span>
                            </div>
                            <div class="flex row mc crc">
                                <svg class="tool-icon" aria-hidden="true">
                                    <use xlink:href="#icon-dislike"></use>
                                </svg>
                                <span>10</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="main-pagination">
            </div>
        </div>
        <div class="main-sidebar-wrapper flex col ms">
            <div class="main-sidebar flex col ms">
                <div class="search-wrapper flex col mc">
                    <input id="search-bar" type="text" class="sidebar-search">
                    <svg class="search-icon" aria-hidden="true">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </div>
                <div class="sidebar-wrapper flex col msp fill-full">
                    <div class="recent-blog flex col ms">
                        <div class="rb-header flex col mc">
                            <h2>Recently Post</h2>
                        </div>
                        <div class="flex col ms">
                            <section class="blog-content flex col ms">
                                <div class="content-tag flex row ms">
                                    <span>java</span>
                                    <span>数据库</span>
                                    <span>jdbc</span>
                                </div>
                                <div class="content-summary flex row ms">
                                    <p><b>这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客</b></p>
                                </div>
                                <div class="content-timeInfo">
                                    <span>2019/12/12 13:22:10</span>
                                </div>
                            </section>
                            <section class="blog-content flex col ms">
                                <div class="content-tag flex row ms">
                                    <span>java</span>
                                    <span>数据库</span>
                                    <span>jdbc</span>
                                </div>
                                <div class="content-summary flex row ms">
                                    <p><b>这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客</b></p>
                                </div>
                                <div class="content-timeInfo">
                                    <span>2019/12/12 13:22:10</span>
                                </div>
                            </section>
                            <section class="blog-content flex col ms">
                                <div class="content-tag flex row ms">
                                    <span>java</span>
                                    <span>数据库</span>
                                    <span>jdbc</span>
                                </div>
                                <div class="content-summary flex row ms">
                                    <p><b>这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客,这是描述了jdbc连接内部实现的一篇博客</b></p>
                                </div>
                                <div class="content-timeInfo">
                                    <span>2019/12/12 13:22:10</span>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="trending-blog flex col">
                        <div class="trending-header flex col mc">
                            <h2>Trending</h2>
                        </div>
                        <div class="flex col ms">
                            <ul class="trending-content">
                                <li th:each="tvArticle:${topViewArticles}"><a th:text="${tvArticle.title}">从jvm开始谈大话数据结构</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="web-info flex col ms">
                        <span>COPYRIGHT © 2020 WILL'S BLOG</span>
                        <span>POWERED BY SPRINGBOOT • WILL OF CODING</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>