html, body {
    height: 100%;
    color: #18191F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #18191F;
}

/*宽、高*/
.fill-full {
    height: 100%;
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill-width {
    width: 100%;
}

/*开启弹性布局*/
.flex {
    display: flex;
}

/*弹性布局确定主轴*/
.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/*主轴、交叉轴对齐方式 main : 主轴  cr : 交叉轴 s : flex-start c : center e:end*/
.mc {
    justify-content: center;
}

.ms {
    justify-content: flex-start;
}

.msp {
    justify-content: space-between;
}

.me {
    justify-content: flex-end;
}

.crc {
    align-content: center;
}

.crs {
    align-content: flex-start;
}

.cr-b {
    align-content: space-between;
}

.cre {
    align-content: flex-end;
}

/*是否换行*/
.f-nowrap {
    flex-wrap: nowrap;
}


/*滚动条整体样式*/
::-webkit-scrollbar {
    width: 2px;
    height: 1px;
}


/*滚动条滑块*/
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 2px;
    background: #ccc;
}

.header {
    width: 570px;
    border-left: 1px;
    border-right: 1px solid #e0e0e0;
}

.logo-icon {
    width: 26px;
    height: 26px;
    fill: currentColor;
    overflow: hidden;
}

a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}

.main-wrapper{
    width:990px;
}

.main-container{
    width:600px;
}

.main-header{
    padding: 0 15px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #e0e0e0;
}
