/*padding*/
/*top and bottom*/
.m-padded-tb-mini{
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}

.m-padded-tb-tiny{
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
}

.m-padded-tb-large{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.m-padded-tb-big{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.m-padded-tb-huge{
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.m-padded-tb-massive{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}


.m-padded-lr{
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

/*text*/
.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8!important;
}
/*font weight*/
.m-text-thin{
    font-weight: 300 !important;
}

/*text spaced*/
.m-text-spaced{
    letter-spacing: 1px !important;
}

/*text lined*/
.m-text-lined{
    line-height: 1.8!important;
}

/*opacity*/
.m-opacity-tiny{
    opacity: 0.5 !important;
}

.m-opacity-mini{
    opacity: 0.8 !important;
}

.m-opacity-tiny{
    opacity: 0.6 !important;
}

/*display*/
.m-inline-block{
    display: inline-block;
}

/*margin*/
.m-margin-tb-tiny{
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
}

.m-margin-t-small{
    margin-top: 0.5rem!important;
}

.m-margin-top{
    margin-top: 1rem!important;
}

.m-margin-t-large{
    margin-top: 2rem!important;
}

/*container*/
.m-container{
    max-width: 72em!important;
    margin: 0 auto;
}

.m-container-small{
    max-width: 60em!important;
    margin: 0 auto;
}

/*color*/
.m-black{
    color: #0f0f10!important;
}

.m-mobile-hide{
    display: block;
}

.m-mobile-show{
    display: none!important;
}

@media screen and (max-width:574px){
    .m-mobile-hide{
        display: none!important;
    }

    .m-mobile-show{
        display: block!important;
    }
}

#nav-btn{
    position: absolute;
    top:1rem;
    right:0;
}

.fill-height{
    height:100%
}

.m-bg{

}