<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Will Of Coding | Home</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
</head>
<body>
    <!-- nav -->
    <nav class="ui inverted attached segment m-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary menu">
                <h2 class="ui item teal header">Will Of Coding</h2>
                <a href="#" class="item"><i class="icon home"></i>Home</a>
                <a href="#" class="item"><i class="icon book"></i>Articles</a>
                <a href="#" class="item"><i class="icon tags"></i>Tags</a>
                <a href="#" class="item"><i class="icon user"></i>About Me</a>
                <div class="right item">
                    <div class="ui icon transparent input inverted">
                        <input type="text" placeholder="Search...">
                        <i class="icon link search"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- main -->
    <main class="m-padded-tb-large m-container">
        <div class="ui container">
            <div class="ui grid">
                <div class="eleven wide column">
                    <!-- header -->
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui header teal">博客</h3>
                            </div>
                            <div class="column right aligned">
                                共 <h2 class="ui header orange m-inline-block"> 14 </h2> 篇
                            </div>
                        </div>
                    </div>

                    <!--content-->
                    <div class="ui attached segment">
                        <div class="ui padded vertical segment m-padded-tb-big">
                            <div class="ui grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header">插入排序为什么优于冒泡排序？</h3>
                                    <p class="m-text">冒泡排序的最优时间复杂度xxxxxxxxxxxxxx，插入排序的。冒泡排序的最优时间复杂度xxxxxxxxxxxxxx，插入排序的。冒泡排序的最优时间复杂度xxxxxxxxxxxxxx，插入排序的。冒泡排序的最优时间复杂度xxxxxxxxxxxxxx，插入排序的。</p>
                                    <div class="ui grid middle aligned">
                                        <div class="twelve wide column">
                                            <div class="ui horizontal link list mini">
                                                <div class="item">
                                                    <img src="../static/img/avatar.jpg" class="ui avatar image">
                                                    <div class="content"><a class="header">liouoth</a></div>
                                                </div>
                                                <div class="item">
                                                   <i class="icon calendar"></i> 2007-10-9 20:10:20
                                                </div>
                                                <div class="item">
                                                    <i class="icon eye"></i>192
                                                </div>
                                            </div>
                                        </div>

                                        <div class="four wide column right aligned">
                                            <a class="ui teal basic label m-padded-tb-mini m-text-thin">详细内容</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a class="" href="#">
                                        <img src="http://iph.href.lu/800x400?text=%E6%97%A0%E5%9B%BE%E8%A8%80D&fg=666666&bg=cccccc" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--footer-->
                    <div class="ui segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <a class="ui teal button basic">上一页</a>
                            </div>
                            <div class="column right aligned">
                                <a class="ui teal button basic">上一页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="five wide column">

                </div>
            </div>
        </div>
    </main>
    <!--footer-->
    <!--what is vertical-->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui divided inverted grid m-text-lined m-text-spaced">
                <div class="three wide column">
                        <div class="ui inverted link list">
                            <div class="item">
                                <img class="ui rounded image" src="../static/img/QRcode.png"/>
                            </div>
                        </div>
                </div>
                <div class="four wide column">
                    <div class="ui link inverted list">
                        <h2 class="ui inverted header">最新博客</h2>
                        <a class="item">什么是数据结构？</a>
                        <a class="item">算机网络知多少？</a>
                        <a class="item">http vs https？</a>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui link inverted list">
                        <h2 class="ui inverted header">联系我</h2>
                        <a class="item">email:mwqyykl@gmail.com</a>
                        <a class="item">github:liouoth</a>
                        <a class="item">weibo:liouoth</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h2 class="ui inverted header">关于我</h2>
                    <p class="m-opacity-mini">乐观向上、不偏不倚</p>
                    <p class="m-opacity-mini">Stay Hungry , Stay Foolish</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui container attached center aligned m-text-spaced m-text-lined m-text-thin m-opacity-mini">
            <p>Powered by Springboot & Thymeleaf</p>
            <p>Copyright@2019-2020 Designed By liouoth</p>
        </div>
    </footer>
</body>
<script src="../static/js/semantic.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
</html>