<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Will Of Coding</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
</head>
<body>
    <!-- Left Sidebar -->
    <div class="ui inverted left vertical sidebar menu">
        <a class="item">Home    </a>
        <a class="item">Page 1</a>
        <a class="item">Page 2</a>
    </div>
    <div class="ui segment" style="background-color: #0E566C"></div>

</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
</html>