<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Will Of Coding</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
</head>
<body>
<nav class="ui inverted attached segment m-pad-tb-mini">
    <div class="ui container">
        <div class="ui inverted menu secondary stackable" id="nav-list">
            <h2 class="ui teal item header">Will of Coding</h2>
            <a href="" class="item m-mobile-hide">Home</a>
            <a href="" class="item m-mobile-hide">Articles</a>
            <a href="" class="item m-mobile-hide">Sort</a>
            <a href="" class="item m-mobile-hide">Achieves</a>
            <a href="" class="item m-mobile-hide">Plugins</a>
            <a href="" class="item m-mobile-hide">Friends</a>
            <a href="" class="item m-mobile-hide">About me</a>
        </div>
    </div>
    <a class="ui button black icon m-position-tr m-mobile-show" id="nav-btn"><i class="icon idea"></i></a>
</nav>
<main class="m-pad-tb-massive ">
    <div class="ui container">
        <div class="ui grid stackable">
            <div class="eleven wide column">
                <!--header-->
                <div class="ui segment top attached">
                    <div class="ui two column grid middle aligned">
                        <div class="column">
                            <div class="ui header teal">博文</div>
                        </div>
                        <div class="column right aligned">
                            共<h2 class="ui header orange m-inline-block m-text-thin"> 14 </h2>篇
                        </div>
                    </div>
                </div>
                <!--content-->
                <div class="ui segment attached">
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                    <div class="ui segment m-pad-tb-large vertical">
                        <div class="ui grid stackable mobile reversed">
                            <div class="eleven wide column">
                                <h3 class="ui header">什么是真的财富自由？</h3>
                                <p class="m-text">是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？是真的财富自由嘛？？</p>
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                        <div class="ui horizontal link list middle aligned">
                                            <div class="item">
                                                <img src="../static/img/avatar.png" height="100" width="100"
                                                     class="ui image avatar"/>
                                                <div class="content"><a class="header"> will</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="icon time"></i>
                                                2020-7-21 18:21:33
                                            </div>
                                            <div class="item">
                                                <i class="icon eye"></i>
                                                120
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a class="ui button steal mini">阅读全文</a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <img src="http://iph.href.lu/800x400" class="ui rounded image">
                            </div>
                        </div>
                    </div>
                </div>

                <!--button bottom-->
                <div class="ui segment bottom attached">
                    <div class="ui two column grid middle aligned">
                        <div class="column">
                            <a class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="five wide column">
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid ">
                            <div class="column">
                                <i class="icon idea"></i>
                                分类
                            </div>
                            <div class="column right aligned middle aligned">
                                more
                                <i class="icon caret right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a class="item">计算机网络
                                <div class="ui label">11</div>
                            </a>
                            <a class="item">计算机网络
                                <div class="ui label">11</div>
                            </a>
                            <a class="item">计算机网络
                                <div class="ui label">11</div>
                            </a>
                            <a class="item">计算机网络
                                <div class="ui label">11</div>
                            </a>
                            <a class="item">计算机网络
                                <div class="ui label">11</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid ">
                            <div class="column">
                                <i class="icon tag"></i>
                                标签
                            </div>
                            <div class="column right aligned middle aligned">
                                more
                                <i class="icon caret right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment center aligned">
                        <a class="ui label m-margin-tb-small">
                            方法论
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                        <a class="ui label m-margin-tb-small">
                            java
                            <div class="detail">214</div>
                        </a>
                    </div>
                </div>
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <i class="recycle icon"></i>
                        最新推荐
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black">什么是数据结构？</a>
                    </div>
                </div>
                <h4 class="ui divider horizontal header">
                    扫码关注我
                </h4>
                <div class="ui card centered" style="width: 11em">
                    <img class="ui image" src="../static/img/avatar.png" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="ui segment inverted vertical m-pad-tb-massive">
    <div class="ui container center aligned">
        <div class="ui grid divided inverted stackable">
            <div class="three wide column">
                <img src="../static/img/avatar.png" height="100" width="100"/>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                    <a class="item">最新的数据结构</a>
                </div>
            </div>
            <div class="five wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div>
                    <p>五花马 千金裘 呼儿将出换美酒 将进酒 将进酒 与尔同销万古愁</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p>COPYRIGHT © 2020 WILL'S BLOG</p>
    </div>
</footer>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/semantic.min.js"></script>
<script>
    $("#nav-btn").click(function () {
        $("#nav-list > a").toggleClass("m-mobile-hide");
    })
</script>
</html>